/* This is an ASTERISK element - it refers to ALL HTML IN YOUR APP.
The below CSS removes all spacing around the element. This is known as "CSS Reset". */
/* Import your special fonts here. This is taken from google fonts. Then add the font family-
see line 19-22. */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html, 
body {
  font-family: 'Teko', sans-serif;
}